.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.card {
  box-shadow: 0 2px 30px -5px rgba(0,0,0,0.3);
  margin: 1vw;
  padding: 1vw;
  flex-basis: 50%;
  img {
    max-width: 100%;
  }
}
