$gray: #696969;
$gray_light: #96918e;
$purple: #253879;
$purple_light: #4764c7;
$green: #209648;
$green_light: #86c543;

$transitionSpeed: 200ms;

@import 'layout';
@import url('https://fonts.googleapis.com/css?family=Lato:300');

html, body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: $gray;
  font-size: 20px;
}

$header_image_height: 50vh;
$header_logo_height: 100px;
$footer_height: 100px;

.logo {
  position: fixed;
  top: 0;
  z-index: 1;
  height: $header_logo_height;
  width: 100%;
  background: url("../../img/logo.jpg") white no-repeat;
  background-position: 2% center;
  background-size: auto 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* menu */
.menu {
  padding: 40px;
  ul {
    list-style: none;
    font-size: 18px;
    line-height: 2;
    display: flex;
  }
  .overlay {
    display: none;
  }
}

.link {
  color: $purple;
  text-shadow: 0px 0px $gray;
  text-decoration: none;
  font-weight: bold;
  font-size: 80%;
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 50px;
  display: inline-block;
  transition: background 75ms ease-in-out, color 75ms ease-in-out;
  &.order-online {
    color: white;
    background: $purple;
  }
  &:hover {
    color: white;
    background: $green;
    text-shadow: 0px 0px white;
  }
}

/* body */
.content {
  min-height: calc(100vh - #{$header_image_height} - #{$footer_height});
  text-align: center;
}

section {
  padding: 50px 25px;
  position: relative;
  margin-bottom: 100px;
}

small {
  font-size: 70%;
  line-height: 1;
  display: inline-block;
}

.price-list {
  margin-bottom: 15px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  height: $footer_height;
  margin: 50px 5px 20px 5px;
  div, address {
    margin: 0 15px 5px 15px;
  }
}
.footer_oeko {
  height: 80px;
  width: 104px;
  background: url("../../img/logo_oeko.jpg") no-repeat;
  background-size: contain;
  background-position: center;
}
.footer_gaea {
  height: 80px;
  width: 104px;
  background: url("../../img/logo_gaea.jpg") no-repeat;
  background-size: contain;
  background-position: center;
}

.menu-button, .close-button {
  display: none;
}

@media (max-width: 980px) {
  .logo {
    height: 70px;
  }
  &.sticky {
    position: fixed;
    top: calc(-50vh + 100px);
    width: 100%;
    & + .body {
      margin-top: 50vh;
    }
  }
  .menu {
    padding: 0;
    .menu-button, .close-button {
      display: inline-block;
      fill: $purple;
      height: 24px;
      width: 24px;
      padding: 23px;
      position: absolute;
      top: 0;
      right: 0;
    }
    ul {
      position: fixed;
      top: 0;
      height: 100%;
      background: white;
      right: 0;
      margin: 0;
      flex-direction: column;
      box-shadow: 0 0 30px -6px black;
      justify-content: center;
      padding: 0px 60px 0 20px;
      transform: translateX(100%);
      transition: transform $transitionSpeed ease-in-out;
      a {
        margin: 7px 0;
      }
    }
    .overlay {
      position: fixed;
      height: 100vh;
      width: 100vw;
      display: block;
      top: 0;
      left: 0;
      background: black;
      opacity: 0;
      transform: translateX(100%);
      transition: opacity $transitionSpeed, transform 0s ease-in-out $transitionSpeed;
    }
  }
  body.menu-open {
    overflow: hidden;
    .menu ul {
      transform: translateX(0%);
    }
    .overlay {
      transform: translateX(0%);
      opacity: 0.3;
      transition: opacity $transitionSpeed, transform 0s;
    }
  }
}


.landing-page {
  height: 100vh;
  background: url("../../img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
}
